#name {
    font-family:'Lato', sans-serif;
}

.lato {
    font-family: 'Lato', sans-serif; 
}


img.wrap {
    float: right;
}

h3 {
    text-align: center;
    padding: 10px;
}

#centerp {
    text-align: center;
    
}

#header {
    margin-left: -18px;
    margin-right: -18px;
    margin-top: -18px;
    padding-left:  -40px;
}


#border {
    border-style:  solid;
    border-color:  lightgrey;
    border-width: 1px;
}

#largerbullets {
    font-size: 20px;
    font-weight: bold;
}

#portfoliotitle {
    text-align: center;
    font-family:'Lato', sans-serif;
}

#formtitles {
    font-size: 25px;
    font-family:'Lato', sans-serif;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(63, 63, 63);
    color: white;
    text-align: center;
}